body {
	background: #333;
	color: #FFF;
	width: 20em;
	padding: 0 25px 10px;
}
a {
	color: #FFF;
	text-decoration: none;
}
a:hover {
	text-decoration: dashed;
}

.buymode--enabled {
	color: green;
	font-weight: 700;
	text-decoration: dashed;
}

.buymode--disabled {
	color: red;
	font-size: smaller;
}
h4 a {
	line-height: 1.3em;
	padding: 15px;
	border-radius: 15px;
	background: #FBB117;
	font-size: 16px;
	text-align: center;
	display: block;
}
h4 a:hover {
	background: #FB6617;
}