body {
	background: #333;
	color: #FFF;
	width: 14em;
}
a {
	color: #FFF;
	text-decoration: none;
}
a:hover {
	text-decoration: dashed;
}

.buymode--enabled {
	color: green;
	font-weight: 700;
	text-decoration: dashed;
}

.buymode--disabled {
	color: red;
	font-size: smaller;
}